# macOS
.DS_Store

# Xcode user state
*.xcuserstate
xcuserdata/
*.moved-aside

# Xcode build artifacts
build/
DerivedData/
.derivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Editor / temp files
*.swp
*.tmp
*.log
